.container {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.titulo {
  margin-bottom: 20px;
}

.avatar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.nombre-control {
  display: flex;
  gap: 10px;
}

.input-nombre {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.input-nombre:focus {
  border-color: #333;
}

.button-cambiar {
  padding: 8px 15px;
  border: none;
  background: #222;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.button-cambiar:hover {
  background: #444;
}

/* CARA */

.cara {
  border-radius: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 15px 25px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

/* OJOS */

.ojos {
  display: flex;
  gap: 35px;
  position: relative;
  margin-top: -20px;
}

.ojo {
  width: 22px;
  height: 22px;
  background: black;
  border-radius: 50%;
}

/* LENTES */

.lentes {
  position: absolute;
  width: 140px;
  margin-left: -30px;
  height: 45px;
  border: 4px solid black;
  border-radius: 25px;
  top: -10px;

}

/* BOCA */

.boca {
  margin-top: 35px;
}

.feliz {
  width: 70px;
  height: 35px;
  border-bottom: 6px solid black;
  border-radius: 0 0 60px 60px;
}

.sorprendido {
  width: 35px;
  height: 35px;
  background: black;
  border-radius: 50%;
}

.serio {
  width: 70px;
  height: 6px;
  background: black;
}

/* NOMBRE */

.nombre p {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

/* CONTROLES */

.controles {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.controles label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

button {
  padding: 8px 15px;
  border: none;
  background: #333;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #555;
}

/* EXPRESIONES */

.expresiones {
  margin-top: 25px;
}
.rotacion-suave{
    animation: rotacion 2s  linear infinite;
}

@keyframes rotacion{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);

    }
}